
body {
    background-color: #FFFFFF;
    font-family: Lato; 
}

div { 
    font-weight: Regular;
    font-size: 18px;
    margin-top: 15%;
    margin-left: 5%;
    margin-bottom: 15%;
    margin-right: 5%;
    color: #0d0f11;
    text-align: center;
    vertical-align: center;
}

div h1 {
    font-size: 45px;
    font-weight: Bold;
    word-spacing: 0.25em;
}

a {
    text-decoration: none;
    color: #0d0f11;
}

a:hover {
    text-decoration: none;
    color: #5575bc;
}
