@import url('https://fonts.googleapis.com/css?family=Lato');

p {
    color: #5575bc;
    font-family: Lato;
    font-size: 22px;
    padding: 5 5 5 5;
    margin-top: 4%;
    bottom: 3;
    text-align: center;
}

a {
    text-decoration: none;
    color: #5575bc;
}

a:hover {
    text-decoration: none;
    color: rgb(255, 87,80);
}

a:visited {
    text-decoration: none;
    color: rgb(0,0,0);
}


