@import url('https://fonts.googleapis.com/css?family=Lato');

div {
    font-family: Lato;
    font-size: 19px;
    padding: 5 5 5 5;
    color: #5575bc;
    margin-top: 15%;
    margin-left: 10%;
    text-align: left;
    vertical-align: middle;
}

div h1 {
    font-size: 26px;
}

a {
    text-decoration: none;
    color: #f4425c;
}

a:hover {
    text-decoration: none;
    color: rgb(255, 87,80);
}

